@model Schnap.Client.Models.PictureListViewModel

@{
    ViewBag.Title = "Pictures";
}

@foreach (var picture in Model.pictures)
{
    <div>
        <h3>@picture.id</h3>
        <h4>@picture.title</h4>
        @picture.description
    </div>
}
<div>
    @Html.PageLinks(Model.paging_info, x => Url.Action("List", new { Page = x }))
</div>


