@using Schnap.Domain.Entities
@model IEnumerable<Picture>

@{
    ViewBag.Title = "Pictures";
}

@foreach (var picture in Model)
{
    <div>
        <h3>@picture.Id</h3>
        <h4>@picture.title</h4>
        @picture.description
    </div>
}

